/*
 * Navbar
 */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  width: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 98; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #354052;
  padding-top: 60px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  transition: 0.4s;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #ffffff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #ffffff;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  color: #00a3ff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: #00a3ff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


#sidebar-toggle .feather {
  width: 50px;
  height: 50px;
}

main {
  transition: 0.5s;
}

@media (min-width: 992px) {
  .sidebar {
    width: 12.5rem;
  }

  main {
    margin-left: 12.5rem;
  }
}
