<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="This is my website where sometimes I upload projects that I did or notes that I've collected.">
    <meta name="author" content="Richard Liu">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta property="og:site_name" content="Richard Liu">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="A place to showcase my projects and notes">
    <meta property="og:image" content="">
    <meta property="og:url" content="{{ url_for('front_page.home', _external=True) }}">
    <meta name="twitter:site" content="Richard Liu" >
    <meta name="twitter:title" content="Personal Portfolio">
    <meta name="twitter:description" content="A place to showcase my projects and notes.">
    <meta name="twitter:image" content="">
    <meta name="twitter:card" content="summary">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}
    {% endblock meta %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/feather.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/Chart.bundle.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|PT+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">

    {% block static %}
    {% endblock static %}

    {% block style %}
    {% endblock style %}

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Richard Liu</title>
    {% endif %}
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <header class="alert alert-{{ category }} fade show text-center">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </header>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block header %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-0">
      <a class="navbar-brand" href="#"> <img src="{{ url_for('static', filename='logo.svg') }}" width="30" height="30" alt=""> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" id="Home" href="{{ url_for('front_page.home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Project-Hub" href="{{ url_for('project_hub.hub') }}">Project Hub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Notebook" href="{{ url_for('notebook.notebook') }}">Notebook</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" id="Dashboard" href="{{ url_for('admin_portal.dashboard') }}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin_portal.logout') }}">Logout</a>
          </li>
          {% endif %}

        </ul>
      </div>
    </nav>
    {% endblock header%}
    {% block body %}{% endblock body %}
    {% block footer %}{% endblock footer %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
    {% block script %}
    {% endblock script %}
  </body>
</html>
