<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">

    {% block style %}
    {% endblock style %}

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Richard Liu</title>
    {% endif %}
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block header %}{% endblock header%}
    {% block body %}{% endblock body %}
    {% block footer %}{% endblock footer %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap.bundle.min.js') }}"></script>

    {% block script %}
    {% endblock script %}
  </body>
</html>
