{% extends "layout.html" %}

{% block style %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/showcase.css') }}">
 {% block showcase_style %}{% endblock showcase_style %}
{% endblock style %}

{% block body %}
  <main role="main" class="container">
    <section class="jumbotron text-center text-white rounded my-4 bg-dark shadow">
      <div class="container">
        {% block jumbo_header %}{% endblock jumbo_header %}
      </div>
    </section>

    <div class="album py-5 bg-light shadow">
      <div class="container">
        {% if catalog %}
          <div class="row">
            {% for post in catalog.items %}
              <div class="col-md-6">
                <div class="row no-gutters mb-4 shadow-sm">
                  <div class="col-md-4">
                    <svg class="bd-placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="40%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body h-100 d-flex flex-column">
                      <h5 class="card-title text-truncate">{{ post.title }}</h5>
                      <h6 class="card-subtitle text-muted">{{ post.date_posted.strftime("%B, %d %Y") }}</h6>
                      <p class="card-text">{{ post.body|striptags }}</p>
                      <div class="mt-auto d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          {% if 'project' in source %}
                            <a href="{{ url_for('project_hub.proj_post', post=source[0], id=post.id)}}" class="btn btn-sm btn-outline-primary">Read More</a>
                          {% elif 'note' in source %}
                            <a href="{{ url_for('notebook.note_post', post=source[0], id=post.id) }}" class="btn btn-sm btn-outline-primary">Read More</a>
                          {% endif %}
                          {% if current_user.is_authenticated %}
                            <a href="javascript:void(0)" class="btn btn-sm btn-outline-success">Edit</a>
                          {% endif %}
                        </div>
                        <div>
                        {% if post.tags %}
                          <span><i data-feather="tag"></i>
                            {% for tag in post.tags %}
                              {% if not(tag.name in source)  %}
                                {% if loop.last %}
                                  {% if 'project' in source %}
                                    <small class="text-muted font-weight-bold"> <a href="{{ url_for('project_hub.hub', tag=tag.name) }}">{{ tag.name.capitalize() }}</a></small>
                                  {% elif 'note' in source %}
                                    <small class="text-muted font-weight-bold"> <a href="{{ url_for('notebook.notebook', tag=tag.name) }}">{{ tag.name.capitalize() }}</a></small>
                                  {% endif %}
                                {% else %}
                                  {% if 'project' in source %}
                                    <small class="text-muted font-weight-bold"> <a href="{{ url_for('project_hub.hub', tag=tag.name) }}">{{ tag.name.capitalize() }}</a>,</small>
                                  {% elif 'note' in source %}
                                    <small class="text-muted font-weight-bold"> <a href="{{ url_for('notebook.notebook', tag=tag.name) }}">{{ tag.name.capitalize() }}</a>,</small>
                                  {% endif %}
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                          </span>
                        {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col">
              <ul class="pagination pagination-lg">
                {% if catalog.has_prev %}
                  <li class="page-item active">
                    {% if 'project' in source %}
                      <a class="page-link" href="{{ url_for('project_hub.hub', page=catalog.prev_num, tag=tags, or=or_search)}}">{{catalog.prev_num}}/{{catalog.pages}} Previous</a>
                    {% elif 'note' in source %}
                      <a class="page-link" href="{{ url_for('notebook.notebook', page=catalog.prev_num, tag=tags, or=or_search)}}">{{catalog.prev_num}}/{{catalog.pages}} Previous</a>
                    {% endif %}
                  </li>
                {% else %}
                {% endif %}
              </ul>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
            </div>
            <div class="col">
              <ul class="pagination pagination-lg justify-content-end">
                {% if catalog.has_next %}
                  <li class="page-item active">
                    {% if 'project' in source %}
                      <a class="page-link" href="{{ url_for('project_hub.hub', page=catalog.next_num, tag=tags, or=or_search)}}">{{catalog.next_num}}/{{catalog.pages}} Next</a>
                    {% elif 'note' in source %}
                      <a class="page-link" href="{{ url_for('notebook.notebook', page=catalog.next_num, tag=tags, or=or_search)}}">{{catalog.next_num}}/{{catalog.pages}} Next</a>
                    {% endif %}
                  </li>
                {% else %}
                {% endif %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

  </main>
{% endblock body %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/showcase.js') }}"></script>
{% endblock script%}
