{% extends "layout.html" %}

{% block style %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/showcase.css') }}">
 {% block showcase_style %}{% endblock showcase_style %}
{% endblock style %}

{% block body %}
  <main role="main" class="container">
    <section class="jumbotron text-center text-white rounded my-4 bg-dark shadow">
      <div class="container">
        {% block jumbo_header %}{% endblock jumbo_header %}
      </div>
    </section>

    <div class="album py-5 bg-light rounded  shadow">
      <div class="container">
        {% if catalog %}
          <div class="row rounded">
            {% for post in catalog.items %}
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">

                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="40%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>

                  <div class="card-body">
                    <h5 class="text-truncate">{{ post.title }}</h5>
                    <span class="text-muted">{{ post.date_posted.strftime("%B, %w %Y") }}</span>
                    <p class="card-text">{{ post.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        {% if source == 'projects' %}
                          <a href="{{ url_for('project_hub.proj_post', post=source, id=post.id)}}" class="btn btn-sm btn-outline-primary">Read More</a>
                        {% elif source == 'notes' %}
                          <a href="{{ url_for('notebook.note_post', post=source, id=post.id) }}" class="btn btn-sm btn-outline-primary">Read More</a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                          <a href="#" class="btn btn-sm btn-outline-success">Edit</a>
                        {% endif %}
                      </div>
                      {% if not(post.category == 'none') %}
                        <small class="text-muted font-weight-bold"> <a href="#">{{ post.category }}</a> </small>
                      {% endif %}
                    </div>
                  </div>

                </div>
              </div>
            {% endfor %}
          </div>
          <div class="row rounded">
            <div class="col">
              <ul class="pagination pagination-lg">
                {% if catalog.has_prev %}
                  <li class="page-item active">
                    {% if source == 'projects' %}
                      <a class="page-link" href="{{ url_for('project_hub.hub', page=catalog.prev_num)}}">{{catalog.prev_num}}/{{catalog.pages}} Previous</a>
                    {% elif source == 'notes' %}
                      <a class="page-link" href="{{ url_for('notebook.notebook', page=catalog.prev_num)}}">{{catalog.prev_num}}/{{catalog.pages}} Previous</a>
                    {% endif %}
                  </li>
                {% else %}
                {% endif %}
              </ul>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
            </div>
            <div class="col">
              <ul class="pagination pagination-lg justify-content-end">
                {% if catalog.has_next %}
                  <li class="page-item active">
                    {% if source == 'projects' %}
                      <a class="page-link" href="{{ url_for('project_hub.hub', page=catalog.next_num)}}">{{catalog.next_num}}/{{catalog.pages}} Next</a>
                    {% elif source == 'notes' %}
                      <a class="page-link" href="{{ url_for('notebook.notebook', page=catalog.next_num)}}">{{catalog.next_num}}/{{catalog.pages}} Next</a>
                    {% endif %}
                  </li>
                {% else %}
                {% endif %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

  </main>
{% endblock body %}
