{% extends "layout.html" %}

{% block body %}
  <main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        {% block jumbo_header %}
          <!-- <h1 class="jumbotron-heading">Personal Projects</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p> -->
        {% endblock jumbo_header %}
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          {% if catalog %}
            {% for i in range(catalog.count) %}
              <div class="col-md-4">
                <div class="card mb-4 shadow-sm">

                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                    <rect width="100%" height="100%" fill="#55595c"></rect>
                    <text x="40%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                  </svg>

                  <div class="card-body">
                    <h5>{{ catalog.post[i].title }}</h5>
                    <p class="card-text">{{ catalog.post[i].description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary"> <a href="#">More</a> </button>
                        {% if current_user.is_authenticated %}
                          <button type="button" class="btn btn-sm btn-outline-secondary"> <a href="#">Edit</a> </button>
                        {% endif %}
                      </div>
                      <small class="text-muted"> <a href="#">{{ catalog.post[i].category }}</a> </small>
                    </div>
                  </div>

                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>

      </div>
    </div>

  </main>
{% endblock body %}
