{% extends "layout.html" %}
{% block meta %}
  <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
{% endblock meta %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('admin_portal.static', filename='css/dashboard.css') }}">
{% endblock style %}

{% block body %}
  <div class="container-fluid p-0">
  <!-- <div class="d-flex w-100 h-100"> -->
    <div class="row m-0">
      {% include 'sidebar.html' %}

      <main role="main" class="ml-sm-auto col-md-10 px-4">
      <!-- <main role="main" class="align-self-stretch flex-fill px-4"> -->
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          {% if title %}
            <h1>{{ title }}</h1>
          {% else %}
            <h1>Richard Liu</h1>
          {% endif %}
        </div>

        {% block dashboard_content %}
        {% endblock dashboard_content %}

      </main>
    </div>
  </div>
{% endblock body %}
