{% extends "layout.html" %}
{% block meta %}
  <META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
{% endblock meta %}

{% block style %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
  <link rel="stylesheet" href="{{ url_for('admin_portal.static', filename='css/dashboard.css') }}">
{% endblock style %}

{% block body %}
  <div class="container-fluid p-0">
    {% include 'sidebar.html' %}

    <main role="main" class="px-4">
      <div class="d-flex align-items-center pt-3 pb-2 mb-3 border-bottom">
        <a class="btn" href="javascript:void(0)" id="sidebar-toggle" onclick="sidebarToggle()"><i data-feather="menu"></i></a>
        {% if title %}
          <h1>{{ title }}</h1>
        {% else %}
          <h1>Richard Liu</h1>
        {% endif %}
      </div>

      {% block dashboard_content %}
      {% endblock dashboard_content %}

    </main>
  </div>
{% endblock body %}

{% block script %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
  <script type="text/javascript" src="{{ url_for('admin_portal.static', filename='js/dashboard.js') }}"></script>
  {% block dashboard_script %}
  {% endblock dashboard_script %}
{% endblock script %}
