{% extends "dashboard.html" %}

{% block dashboard_content %}

{% if post_id %}
  <h1>Edit the post now</h1>
{% else %}
  <form class="" action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <div class="form-row">
        <div class="form-group col-md-2 mb-0">
          {{ form.post(class="form-control") }}
        </div>
        <div class="form-group col-md-8 mb-0">
          {{ form.title(class="form-control") }}
        </div>
        <div class="form-group col-md-2 mb-0">
          {{ form.select(class="btn btn-primary", type="submit", value="Select") }}
        </div>
      </div>
    </fieldset>
  </form>
{% endif %}

{% endblock dashboard_content %}
