{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('admin_portal.static', filename='css/login.css') }}">
{% endblock style %}

{% block body %}

<div id="block-body">
  <form class="form-signin" action="" method="POST">
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <fieldset>
      <div class="form-group">
        {% if form.email.errors %}
          {{ form.email(type="email", id="inputEmail", class="form-control is-invalid", placeholder="Email address", autofocus=true) }}
          <div class="invalid-feedback">
            {% for error in form.emails.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(type="email", id="inputEmail", class="form-control", placeholder="Email address", autofocus=true) }}
        {% endif %}
      </div>

      <div class="form-group">
        {% if form.password.errors %}
          {{ form.password(type="password", id="inputPassword", class="form-control is-invalid", placeholder="Password") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(type="password", id="inputPassword", class="form-control", placeholder="Password") }}
        {% endif %}
      </div>

      <div class="checkbox mb-3">
        {{ form.remember(type="checkbox", value="remember-me", class="form-check-input") }}
        {{ form.remember.label(class="form-check-label") }}
      </div>
    </fieldset>

  <div class="form-group">
    {{ form.submit(class="btn btn-lg btn-primary btn-block", type="submit", value="Sign in") }}
  </div>

  </form>
</div>
{% endblock body %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('admin_portal.static', filename='js/login.js') }}"></script>
{% endblock script %}
