{% extends "layout.html" %}
{% block body %}
<div class="mx-auto" style="width: 400px;">
  <form class="" action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        {% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.emails.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
          {{ form.password(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class="form-control form-control-lg") }}
        {% endif %}
      </div>

      <div class="form-group">
        {{ form.remember(class="form-check-input") }}
        {{ form.remember.label(class="form-check-label") }}
      </div>
    </fieldset>

  <div class="">
    {{ form.submit(class="btn btn-outline-info") }}
  </div>

  </form>
</div>
{% endblock body %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('admin_portal.static', filename='js/login.js') }}"></script>
{% endblock script %}
