<div class="sidebar px-0 text-nowrap" id="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" id="Dashboard" href="{{ url_for('admin_portal.dashboard') }}">
        <i data-feather="home"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="New-Post" href="{{ url_for('admin_portal.new_post') }}">
        <i data-feather="file"></i>
        New Post
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="Posts" href="{{ url_for('admin_portal.posts') }}">
        <i data-feather="edit"></i>
        Posts
      </a>
    </li>
  </ul>

  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span class="text-white">Analytic</span>
    <span class="d-flex align-items-center text-muted" href="#">
      <i data-feather="bar-chart"></i>
    </span>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i data-feather="file-text"></i>
        Current Month
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i data-feather="bar-chart-2"></i>
        Current Year
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i data-feather="share-2"></i>
        Social engagement
      </a>
    </li>
  </ul>
</div>
