{% extends "layout.html" %}
{% block meta %}
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
{% endblock meta %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('front_page.static', filename='css/about.css') }}">
{% endblock style %}

{% block body %}
  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">A little bit about me</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>Description</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-4 text-center">
          <h2 style="display: none;">Picture</h2>
          <img class ="rounded img-fluid" id="profile" src="{{ url_for('front_page.static', filename='me.jpg') }}" alt="">
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-md-8">
          <h2>Something</h2>
        </div>
        <div class="col-md-4 text-center">
          <a role="button" aria-pressed="true" class="btn btn-link btn-outline-info btn-lg btn-block" href="{{ url_for('file', file='static/About/resume.pdf',  _external='True') }}">Resume</a>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer mt-auto py-3">
    <div class="container" id="footer">
      <div class="row">
        <div class="col-md-8 text-light">
          <h2>Contact Me @ </h2>
          <p><i data-feather="send"></i> richardliu.inquiry@gmail.com</p>
          <p><i data-feather="phone"></i> ‪(626) 340-0352‬</p>
        </div>
        <div class="col-md-4 align-self-end">
          <small class="text-muted">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
        </div>
      </div>
    </div>
  </footer>
{% endblock body %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('front_page.static', filename='js/about.js') }}"></script>
{% endblock script %}
