{% extends "layout.html" %}

{% block meta %}
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
{% endblock meta %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('front_page.static', filename='css/home.css') }}">
{% endblock style %}

{% block header %}{% endblock header %}

{% block body %}
<section class="jumbotron jumbotron-fluid d-flex flex-column">
  <div class="masthead mb-auto">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <h3 class="masthead-brand mx-4 d-none d-sm-block">Richard Liu</h3>
        <a class="nav-link" id="Home" href="{{ url_for('front_page.home') }}">Home</a>
        <a class="nav-link" id="Projects-Hub" href="{{ url_for('project_hub.hub') }}">Project Hub</a>
        <a class="nav-link" id="Notebook" href="{{ url_for('notebook.notebook') }}">Notebook</a>
        {% if current_user.is_authenticated %}
          <a class="nav-link" id="Dashboard" href="{{ url_for('admin_portal.dashboard') }}">Dashboard</a>
          <a class="nav-link" href="{{ url_for('admin_portal.logout') }}">Logout</a>
        {% endif %}
      </nav>
    </div>
  </div>
  <div class="container-fluid text-center my-auto">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
  <div class="social mt-auto">
    <div class="d-flex justify-content-center">
      <div class="list-group list-group-horizontal" style="list-style-type: none;">
        <a class="px-2" href="https://www.linkedin.com/in/richardliuca"><i data-feather="linkedin"></i></a>
        <a class="px-2" href="https://github.com/richardliuca/"><i data-feather="github"></i></a>
        <a class="px-2" href="https://twitter.com/richardliuca"><i data-feather="twitter"></i></a>
      </div>
    </div>
  </div>
</section>
<section class="container text-left">
  <h1>This is another secion</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <a role="button" aria-pressed="true" class="btn btn-info" href="{{ url_for('file', file='static/resume.pdf',  _external='True') }}">Resume</a>
</section>

  <footer class="footer mt-auto py-3 text-justify">
    <div class="container" id="footer">
      <div class="row">
        <div class="col-md-8 text-light">
          <h2>Contact Me @</h2>
          <p><i data-feather="send"></i> richardliu.inquiry@gmail.com</p>
          <p><i data-feather="phone"></i> ‪(626) 340-0352‬</p>
        </div>
        <div class="col-md-4 align-self-end">
          <small class="text-muted">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
        </div>
      </div>
    </div>
  </footer>
{% endblock body %}
