a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
  background-color: #606060;
  color: #fff;
}

section.jumbotron {
  background-image: url(http://localhost:5000/front_page/static/cover.JPG);
  background-position: center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.jumbotron {
  height: 90%;
}

.masthead-brand {
  margin-bottom: 0;
  color: #fff !important;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: #fff !important;
  border-bottom-color: #fff !important;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.footer {
  background-color: #242424;
}
