{% extends "layout.html" %}

{% block meta %}
  <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
  <link rel="canonical" href="{{ url_for('notebook.notebook', _external=True) }}">
{% endblock meta %}

{% block style %}
  <link rel="stylesheet" href="{{ url_for('notebook.static', filename='css/notebook.css') }}">
{% endblock style %}

{% block body %}
  <div class="container my-5 shadow" style="display: none;">
    {% include "notes_nav.html" %}
    {% for tag in catalog.keys() %}
      {% if loop.first %}
        <div class="content p-3" id="{{tag}}-content">
          {% for post in catalog[tag] %}
            <h1>{{ post.title }}</h1>
            <div class="post-body">{{ post.body }}</div>
          {% endfor %}
        </div>
      {% else %}
        <div class="content p-3" id="{{tag}}-content" style="display: none;">
          {% for post in catalog[tag] %}
            <h1>{{ post.title }}</h1>
            <div class="post-body">{{ post.body }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock body %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('notebook.static', filename='js/notebook.js') }}"></script>
{% endblock script%}
